<!DOCTYPE html>
<html>
<head>
    <title>Add Inventory</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Add Blood Inventory</h1>

    <div class="card">
        <form method="POST">
            <input name="blood_group" placeholder="Blood Group" required>
            <input name="units" placeholder="Units" required>
            <input name="location" placeholder="Location" required>
            <button type="submit">Add Inventory</button>
        </form>
    </div>

    <a href="/" class="back">← Back</a>
</div>

</body>
</html>