<!DOCTYPE html>
<html>
<head>
    <title>Add Blood Bank</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Add Blood Bank</h1>

    <div class="card">
        <form method="POST">
            <input name="name" placeholder="Bank Name" required>
            <input name="location" placeholder="Location" required>
            <button type="submit">Add Bank</button>
        </form>
    </div>

    <a href="/" class="back">← Back</a>
</div>

</body>
</html>