<!DOCTYPE html>
<html>
<head>
    <title>Smart Blood Bank</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>🩸 Smart Blood Bank</h1>

    <div class="card menu">

        <a href="/add_bank"><button>🏥 Add Blood Bank</button></a>

        <a href="/add_donor"><button>🧑 Add Donor</button></a>

        <a href="/add_inventory_page"><button>🧪 Add Inventory</button></a>

        <a href="/search"><button>🔍 Search Blood</button></a>

        <a href="/request"><button>🚑 Request Blood</button></a>

    </div>

</div>

</body>
</html>