<!DOCTYPE html>
<html>
<head>
    <title>Request Blood</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Request Blood</h1>

    <div class="card">
        <form method="POST">
            <input name="blood_group" placeholder="Blood Group" required>
            <input name="units" placeholder="Units Required" required>
            <button type="submit">Request</button>
        </form>
    </div>

    <a href="/" class="back">← Back</a>
</div>

</body>
</html>